<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="bestsellers" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Bestsellers</label>
            <tab>magesuite</tab>
            <resource>MageSuite_ProductBestsellersRanking::config_bestsellers</resource>
            <group id="cron" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>Cron</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enable Daily Calculation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If this option is enabled then cron will recalculate bestsellers</comment>
                </field>
                <field id="recalculation_schedule" translate="label" type="text" sortOrder="20" showInDefault="1">
                    <label>Recalculation Cron Schedule</label>
                    <comment>Schedule expression for bestsellers recalculation cron (format: * * * * *)</comment>
                    <depends>
                        <field id="bestsellers/cron/enabled">1</field>
                    </depends>
                </field>
                <field id="use_transactions" translate="label" type="select" sortOrder="30" showInDefault="1">
                    <label>Use Transactions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If this option is enabled bestsellers recalculation will be wrapped in db transaction to not lose already calculated bestseller scores, if any error occurs during recalculation</comment>
                </field>
                <field id="cron_crash_detector_enabled" translate="label" type="select" sortOrder="30" showInDefault="1">
                    <label>Enable cron crash detector</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When enabled cron job will check if bestseller calculation daily cron job crashed and if so it will try to rerun it.</comment>
                </field>
            </group>
            <group id="orders_period" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Orders Period</label>
                <field id="period" translate="label" type="select" sortOrder="10" showInDefault="1" >
                    <label>Orders Period</label>
                    <source_model>MageSuite\ProductBestsellersRanking\Model\Config\Source\OrdersPeriod</source_model>
                </field>
            </group>
            <group id="boosting_factors" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Boosting Factors</label>
                <comment>You can set up below boosting factors to increase product scoring during bestsellers calculation. If order is older it gets lower boosting factor.</comment>
                <field id="boosting_factor_week" translate="label" type="text" sortOrder="10" showInDefault="1" >
                    <label>Boosting Factor A</label>
                    <comment>Orders within 7 days will get this boosting factor (eg. 3)</comment>
                </field>
                <field id="boosting_factor_month" translate="label" type="text" sortOrder="20" showInDefault="1" >
                    <label>Boosting Factor B</label>
                    <comment>Orders within 30 days will get this boosting factor (eg. 2)</comment>
                </field>
                <field id="boosting_factor_year" translate="label" type="text" sortOrder="30" showInDefault="1" >
                    <label>Boosting Factor C</label>
                    <comment>Orders within 356 days will get this boosting factor (eg. 1)</comment>
                </field>
                <field id="boosting_factor_general" translate="label" type="text" sortOrder="40" showInDefault="1" >
                    <label>Boosting Factor D</label>
                    <comment>Orders older than 365 days will get this boosting factor (eg. 0)</comment>
                </field>
                <field id="boosting_factor_sold_out" translate="label" type="text" sortOrder="40" showInDefault="1" >
                    <label>Sold Out Decrease Factor</label>
                    <comment>Products that are sold out will have this decrease factor (eg. 0.5)</comment>
                </field>
            </group>
            <group id="sorting" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sorting</label>
                <field id="direction" translate="label" type="select" sortOrder="20" showInDefault="1" >
                    <label>Sorting Direction</label>
                    <source_model>MageSuite\ProductBestsellersRanking\Model\Config\Source\SortingDirection</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
